p {
    text-align: center;
    font-size: 120px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 38vh;
    color: black;

}
button {
    color: #2a52be;
    background-color: white;
}

body {
    background: linear-gradient(90deg, rgba(9,255,48,1) 34%, rgba(255,250,0,1) 66%, rgba(21,176,240,1) 100%);
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
}